import { Routes } from '@angular/router';
import { layoutRoutes } from './core/layout/layout.routes';

export const routes: Routes = [
  {
    path: '',
    loadChildren: () => import('./core/layout/layout.routes')
       .then(r => r.layoutRoutes)
  }
];
