import { Component } from '@angular/core';

@Component({
  selector: '<%= prefix %>-login',
  imports: [],
  templateUrl: './login.component.html',
  styleUrl: './login.component.<%= style %>'
})
export class LoginComponent {

}
