import { HttpCallStatusEnum } from './models/enums/http-call-status.enum';
import { IError } from "./models/responses/error.response";

export type HttpCallState = {
  status: HttpCallStatusEnum,
  error: IError | undefined;
}

export const httpCallStateInitialValue: HttpCallState = {
  status: HttpCallStatusEnum.Pending,
  error: undefined
}
