import { HttpCallStatus } from './models/enums/http-call-status.enum';
import { IError } from "./models/responses/error.response";

export type HttpCallState = {
  status: HttpCallStatus,
  error: IError | undefined;
}

export const httpCallStateInitialValue: HttpCallState = {
  status: HttpCallStatus.Pending,
  error: undefined
}
