.header {
  min-height: var(--header-height);
  max-height: var(--header-height);
}
.navlink {
  user-select: none;
}
.navlink:hover {
  background-color: #f1f1f4;
}
.navlink:active {
  background-color: var(--blumelli);
  color: white;
}
.navlink.active {
  background-color: var(--blumelli);
  color: white;
}
